# General
TZ=Asia/Shanghai

# OceanBase
OB_PORT=2881
OB_ROOT_PASSWORD=123456
OB_TENANT_NAME=oceanbase_db
OB_TENANT_PASSWORD=123456
OB_MEMORY_LIMIT=6G
OB_CPU_COUNT=2

# OCP
OCP_SERVER_PORT=8080
OCP_SERVER_HOST=0.0.0.0
OCP_LOG_LEVEL=INFO

# OCP MySQL
OCP_MYSQL_PORT=3306
OCP_MYSQL_DATABASE=ocp
OCP_MYSQL_USER=ocp
OCP_MYSQL_PASSWORD=ocp123456
OCP_MYSQL_ROOT_PASSWORD=ocp123456

# OCP Redis
OCP_REDIS_PORT=6379
OCP_REDIS_PASSWORD=ocp123456

# Grafana
GRAFANA_ADMIN_PASSWORD=admin123

# Network
OCEANBASE_NETWORK_SUBNET=172.23.0.0/16
OCEANBASE_NETWORK_GATEWAY=172.23.0.1


