# General
TZ=Asia/Shanghai

# MongoDB root user
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=123456
MONGO_INITDB_DATABASE=

# Mongo Express
ME_EDITOR_THEME=3024-night
ME_BASIC_AUTH_USERNAME=admin
ME_BASIC_AUTH_PASSWORD=123456
ME_COOKIE_SECRET=change-me-cookie
ME_SESSION_SECRET=change-me-session


